@import "tailwindcss";

    @theme {
      --color-scandi-white: #FFFFFF;
      --color-scandi-light: #F2F2F0;
      --color-scandi-base: #E6E3DF;
      --color-scandi-darker: #C8C2B7;
      --color-scandi-accent: #B99D7A;
      --color-scandi-gray: #6E6E6E;
      --color-scandi-black: #1A1A1A;

      --font-cormorant: "Cormorant Garamond", serif;
      --font-inter: "Inter", sans-serif;
    }