@import "tailwindcss";

    @theme {
      --color-primary: #242424;
      --color-background: #FAFAFA;
      --color-surface: #FFFFFF;
      --color-secondary: #8C5A35;
      --color-darker: #C8C2B7;
      --color-accent: #2B4C3B;
      --color-gray: #6E6E6E;

      --font-cormorant: "Cormorant Garamond", serif;
      --font-inter: "Inter", sans-serif;
    }