@import "tailwindcss";

    @theme {
      --color-primary: #1A1A1A;
      --color-background: #F2F2F0;
      --color-surface: #FFFFFF;
      --color-secondary: #E6E3DF;
      --color-darker: #C8C2B7;
      --color-accent: #B99D7A;
      --color-gray: #6E6E6E;

      --font-cormorant: "Cormorant Garamond", serif;
      --font-inter: "Inter", sans-serif;
    }